.mTouchBrief .asset img, .m360Brief .asset img, .mHubPageBrief .asset img, .mHubBrief .asset img {
    width: 340px !important;
    height: 166px !important;
}

.mHubPageBrief .asset img, .mHubBrief .asset img {
    scale: 1.5;
}

.mPayBrief .asset img {
    width: 250px !important;
    height: auto !important;
}

.aboutMercury .asset img {
    width: 340px !important;
    height: auto !important;
}

.mPayFeatureOne .asset, 
.mPayFeatureTwo .asset, 
.mPayFeatureThree .asset,
.advisoryTag .asset,
.techonologyTag .asset,
.businessOperationsTag .asset,
.memberManagementTag .asset,
.riskManagementTag .asset {
    display: flex;
    justify-content: flex-end;
}

.mPayFeatureOne .asset img, 
.mPayFeatureTwo .asset img, 
.mPayFeatureThree .asset img, 
.advisoryTag img,
.techonologyTag img,
.businessOperationsTag img,
.memberManagementTag img,
.riskManagementTag img,
.determination img,
.empathy img,
.agility img,
.diversity img {
    width: 70px;
    height: 70px;
}

.mPayFeatureOne, 
.mPayFeatureTwo, 
.mPayFeatureThree,
.advisoryTag,
.techonologyTag,
.businessOperationsTag,
.memberManagementTag,
.riskManagementTag {
    height: 540px;
    border-radius: 30px;
}

.patternPosition {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.advisoryTag,
.techonologyTag,
.businessOperationsTag,
.memberManagementTag,
.riskManagementTag {
    font-size: 34px;
    line-height: 41px;
}

.sectionBackgroundCP {
    transform-origin: 100% 0;
    transform: skewY(-6deg);
    background-color: #f4f4f4;
}

@media only screen and (max-width: 990px){
    .advisoryTag,
    .techonologyTag,
    .businessOperationsTag,
    .memberManagementTag,
    .riskManagementTag {
        font-size: 24px;
        line-height: 31px;
    }
}

@media only screen and (max-width: 1279px){
    .mPayFeatureOne, 
    .mPayFeatureTwo, 
    .mPayFeatureThree,
    .advisoryTag,
    .techonologyTag,
    .businessOperationsTag,
    .memberManagementTag,
    .riskManagementTag {
        height: -webkit-fill-available !important;
    }
}

.mHubGridSection {
    max-width: 1180px !important;
}

.featureCheckList .checkbox-list-img-container img {
    width: 56px;
    height: 56px;
    margin: 0 auto;
}

@media (min-width: 1280px) and (max-width: 2000px){
    .mHubGridSectionGridContainer {
        gap: 1.25rem !important;
    }
}

.mHubFeaturesHeading {
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    align-self: flex-start;
}

.peopleManagementGrid .asset img {
    border-radius: 20px;
}

.peopleManagementGrid .socialMediaIconContainer {
    width: 30px;
    height: 30px;
}

.peopleManagementGrid {
    max-width: 300px;
}

.peopleContainer .asset {
    max-height: 310px;
    border-radius: 20px !important;
    overflow: hidden;
}

.peopleContainer h3 {
    font-size: 24px !important;
    line-height: 30px !important;
    padding-top: 10px;
    font-weight: bold;
}

.peopleContainer h4 {
    font-size: 20px !important;
    font-weight:500;
}

.peopleContainer .asset img:hover, .peopleManagementGrid .asset img:hover, .mercury-map-image:hover {
    scale: 1.1;
}

.peopleManagementGrid .asset {
    border-radius: 20px;
}

.basharBrief h3 {
    font-size: 30px !important;
    line-height: 38px !important;
    font-weight: normal !important;
}

.basharBrief h4 {
    font-size: 30px !important;
    line-height: 38px !important;
    font-weight: bold !important;
}

.basharBrief p {
    font-size: 20px !important;
    line-height: 24px !important;
}

.networkOne {
    position: relative;
    border-radius: 16px;
    background-color: white;
}

.networkOne h2 {
    font-weight: bold;
}

.peopleContainer p {
    font-weight: 300;
}

.networkOne::before {
    content: '';
    position: absolute;
    z-index: -1;
    margin: -4px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, #B100C0 0%, #0048D3 100%);
    border-radius: 20px;
}

.sectionContainer:hover .filled-button {
    scale: 1.2;
    animation-delay: 1s;
    -o-animation-duration: 2s;
    margin-left: 15px;
    animation: all ease-in-out;
}

/* .bgHoverAnimation {
    background: linear-gradient(233deg, #DAF0EA, #CDE4D8, #E3F0E9);
    width: 100%;
    background-size: cover;
    background-blend-mode: multiply;
    -webkit-animation: hue-rotate 3s linear infinite;
            animation: hue-rotate 3s linear infinite;
  }
  
  @-webkit-keyframes hue-rotate {
    from {
      -webkit-filter: hue-rotate(0);
      -moz-filter: hue-rotate(0);
      -ms-filter: hue-rotate(0);
      filter: hue-rotate(0);
    }
    to {
      -webkit-filter: hue-rotate(360deg);
      -moz-filter: hue-rotate(360deg);
      -ms-filter: hue-rotate(360deg);
      filter: hue-rotate(360deg);
    }
  }
  
  @keyframes hue-rotate {
    from {
      -webkit-filter: hue-rotate(0);
      -moz-filter: hue-rotate(0);
      -ms-filter: hue-rotate(0);
      filter: hue-rotate(0);
    }
    to {
      -webkit-filter: hue-rotate(360deg);
      -moz-filter: hue-rotate(360deg);
      -ms-filter: hue-rotate(360deg);
      filter: hue-rotate(360deg);
    }
  } */

  .mPayHeroImage:hover, .mTouchHeroImage:hover, .m360HeroImage:hover, .mHubHeroImage:hover {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='120' height='40'><rect rx='20' width='100%' height='100%' fill='black' /><text x='50%' y='50%' font-family='sans-serif' font-weight='bold' font-size='14' dominant-baseline='middle' text-anchor='middle' fill='white'>Learn More</text></svg>") 16 0, auto !important;
  }